.filter-buttons {
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.donation-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
